.navbar {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 2%, rgb(55, 165, 255) 96%);
  padding: 20px 5%;
}

.navbarMenu {
  background-color: #ffffff88;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 860px) {
  .navbar {
    display: flex;
    justify-content: center;

    .image {
      display: none;
    }
  }
  .navbarMenu {
    display: flex;
    gap: 0;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
}
